<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="homepage/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="homepage/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="homepage.html">
                        <p><b><center>Trip Reservation System <br>for Bus Terminals</center></b></p>
                    </a>
                </li>
                <p><li>
                    <a href="bookings.html">Bookings</a>
                </li>
                <li>
                    <a href="trips.html">Trips</a>
                </li></p>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bookings</h1>
                        <p>Trip Reservation System for Bus Terminals. This system is designed to behave the same way as Ticket Reservation Systems for Airlines, but on a much smaller scale, particularly provincial bus terminals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p> Copyright &copy; 2018 </p>
    </footer>
    <div class="clear"></div>
</body>

</html>
