{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>{% block title %}Welcome Home {% endblock %}</title>

</head>

<body>
	{% block pagecontent %}

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h2>Book Your Bus Trip Now!</h2>
								<p>hello world</p>
							</div>
						</div>
						<form action="user.html">
							<div class="form-btn">
								<input class="submit-btn" type="submit" value="User" href='/user'>
							</div>
						</form>
						<form action="driver.html">
							<div class="form-btn">
								<input class="submit-btn" type="submit" value="Driver">
							</div>
						</form>
						<!--<form action="homepage.html">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Display Name</span>
										<input class="form-control" type="text" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Username</span>
										<input class="form-control" type="text" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Password</span>
										<input class="form-control" type="password" required>
									</div>
								</div>
							</div>
							<div class="form-btn" action="homepage.html" method="get" target="homepage.html">
								<input class="submit-btn" type="submit" value="Create Account">
							</div>
						</form>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
</body>

</html>